section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ff97ac;
  color: #FFF;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #B5BAD0;
  border: 1px solid transparent;
}

label:before {
  font-family: 'Secular One', sans-serif;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16c'; }
label[for*='4']:before { content: '\f171'; }

label:hover {
  color: #FFF;
}

input:checked + label {
  color: #163772;
  border: 1px solid #abc;
  border-top: 2px solid #ff97ac;
  border-bottom: 1px solid #ff97ac;
  box-shadow: inset 0 0 7em white;
}

/* Show content */

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
} 